/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-Motorcycle {
  background-image: url(../../www/img/categorySmall.png);
  background-position: -78px -42px;
  width: 78px;
  height: 42px;
}
.icon-electromobil {
  background-image: url(../../www/img/categorySmall.png);
  background-position: 0px 0px;
  width: 78px;
  height: 42px;
}
.icon-hydromobile {
  background-image: url(../../www/img/categorySmall.png);
  background-position: -78px 0px;
  width: 78px;
  height: 42px;
}
.icon-lawnMover {
  background-image: url(../../www/img/categorySmall.png);
  background-position: 0px -42px;
  width: 78px;
  height: 42px;
}
.icon-quadrocycle {
  background-image: url(../../www/img/categorySmall.png);
  background-position: 0px -84px;
  width: 78px;
  height: 42px;
}
.icon-snowmobile {
  background-image: url(../../www/img/categorySmall.png);
  background-position: -78px -84px;
  width: 78px;
  height: 42px;
}
