/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-arrow-left {
  background-image: url(../../www/img/otherSpritesheet.png);
  background-position: -193px -108px;
  width: 20px;
  height: 34px;
}
.icon-arrow-right {
  background-image: url(../../www/img/otherSpritesheet.png);
  background-position: -193px -74px;
  width: 20px;
  height: 34px;
}
.icon-cabinet {
  background-image: url(../../www/img/otherSpritesheet.png);
  background-position: 0px -93px;
  width: 44px;
  height: 44px;
}
.icon-corner {
  background-image: url(../../www/img/otherSpritesheet.png);
  background-position: -93px 0px;
  width: 62px;
  height: 43px;
}
.icon-hamburger {
  background-image: url(../../www/img/otherSpritesheet.png);
  background-position: 0px -137px;
  width: 37px;
  height: 37px;
}
.icon-location {
  background-image: url(../../www/img/otherSpritesheet.png);
  background-position: -193px -37px;
  width: 22px;
  height: 37px;
}
.icon-logo {
  background-image: url(../../www/img/otherSpritesheet.png);
  background-position: 0px 0px;
  width: 93px;
  height: 93px;
}
.icon-news {
  background-image: url(../../www/img/otherSpritesheet.png);
  background-position: -73px -137px;
  width: 36px;
  height: 36px;
}
.icon-phone {
  background-image: url(../../www/img/otherSpritesheet.png);
  background-position: -193px 0px;
  width: 35px;
  height: 37px;
}
.icon-promo {
  background-image: url(../../www/img/otherSpritesheet.png);
  background-position: -37px -137px;
  width: 36px;
  height: 36px;
}
.icon-search {
  background-image: url(../../www/img/otherSpritesheet.png);
  background-position: -93px -43px;
  width: 50px;
  height: 50px;
}
.icon-social-fb {
  background-image: url(../../www/img/otherSpritesheet.png);
  background-position: -155px 0px;
  width: 38px;
  height: 37px;
}
.icon-social-ok {
  background-image: url(../../www/img/otherSpritesheet.png);
  background-position: -44px -93px;
  width: 39px;
  height: 37px;
}
.icon-social-tw {
  background-image: url(../../www/img/otherSpritesheet.png);
  background-position: -83px -93px;
  width: 39px;
  height: 37px;
}
.icon-social-vk {
  background-image: url(../../www/img/otherSpritesheet.png);
  background-position: -155px -37px;
  width: 38px;
  height: 37px;
}
.icon-social-yt {
  background-image: url(../../www/img/otherSpritesheet.png);
  background-position: -155px -74px;
  width: 38px;
  height: 37px;
}


/*сначала маленькие спрайты*/
.icon-Motorcycle {
  background-image: url(../../www/img/categorySmall.png);
  background-position: -78px -42px;
  width: 78px;
  height: 42px;
}
.icon-electromobil {
  background-image: url(../../www/img/categorySmall.png);
  background-position: 0px 0px;
  width: 78px;
  height: 42px;
}
.icon-hydromobile {
  background-image: url(../../www/img/categorySmall.png);
  background-position: -78px 0px;
  width: 78px;
  height: 42px;
}
.icon-lawnMover {
  background-image: url(../../www/img/categorySmall.png);
  background-position: 0px -42px;
  width: 78px;
  height: 42px;
}
.icon-quadrocycle {
  background-image: url(../../www/img/categorySmall.png);
  background-position: 0px -84px;
  width: 78px;
  height: 42px;
}
.icon-snowmobile {
  background-image: url(../../www/img/categorySmall.png);
  background-position: -78px -84px;
  width: 78px;
  height: 42px;
}
/* маленькие спрайты кончились */
@media screen and (min-width:768px){
  .icon-Motorcycle {
  background-image: url(../../www/img/categoryBig.png);
  background-position: -158px -99px;
  width: 158px;
  height: 99px;
}
.icon-electromobil {
  background-image: url(../../www/img/categoryBig.png);
  background-position: 0px 0px;
  width: 158px;
  height: 99px;
}
.icon-hydromobile {
  background-image: url(../../www/img/categoryBig.png);
  background-position: -158px 0px;
  width: 158px;
  height: 99px;
}
.icon-lawnMover {
  background-image: url(../../www/img/categoryBig.png);
  background-position: 0px -99px;
  width: 158px;
  height: 99px;
}
.icon-quadrocycle {
  background-image: url(../../www/img/categoryBig.png);
  background-position: 0px -198px;
  width: 158px;
  height: 99px;
}
.icon-snowmobile {
  background-image: url(../../www/img/categoryBig.png);
  background-position: -158px -198px;
  width: 158px;
  height: 99px;
}
}