body{
    width: 100%;

    padding-left: 0;
    padding-right: 0;
    margin: 0;
    background-color: black;

    color: #ffffff;
    text-align: center;

    font-size: 28px;
}

a{
    color: inherit;
    text-decoration: none;
}

a:hover{
    color: #ea6767;
}

.bg{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;

    z-index: -1;
}

.icon {
  display: inline-block;
}

.header{
    text-align: left;
    font-size: 28px;
    vertical-align: middle;
}

.telephone, .location{
    font-family: 'letosans_boldbold';
    font-size: 28px;
}

.location .city{
    border-bottom: 4px dotted white;
}

.header .telephone,
.header .location{
    text-shadow: -3px 4px 2px rgba(150, 150, 150, 0.3);
}

.cabinet{
    background-color: #39416f;
    font-family: 'proxima_nova_thextrabold';
}

.header__item{
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.categories__category .icon{
    margin-left: 5vw;
    margin-right: 10vw;
    
}
.header .icon{
    font-size: 46px;
    vertical-align: middle;
}

.icon-wrapper{
    display: inline-block;
    width: 20vw;
    text-align: center;
}

.header__text{
    vertical-align: middle;
    font-size: 25px;
}

#social-icon-fixer{
        position: absolute;
        top: 0;
        left: auto;
        right: 0;
        height: 78px;
        overflow: auto;
        zoom: 1;
}

#social-buttons{
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    float: right;
}

.left-menu{
    display: table;
}

.expand{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 4;

    padding-top:0;
}

.left-menu__bg{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: none;

    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
}

.left-menu .icon-wrapper,
.left-menu__menu{
    display: table-cell;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

#icon-hamburger-waiter{
    display: none;
    opacity: 0;
}

.left-menu__menu{
    display: none;

    width: 85%;
    height: 100%;
    background-color: #444e7c;
    //background-color: rgba(68, 78, 124, 0.85);
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
}

.logo-and-name{
    display: table;
    width: 100%;

    text-align: center;
}
.logo-and-name__logo,
.logo-and-name__name{
    display: table-cell;
}
.logo-and-name__name{
    width: 60%;
    vertical-align: middle;
}

.logo-and-name .icon,
.logo-and-name .name{
    vertical-align: middle;
}

.logo-and-name .name{
    font-family: 'letosans_boldbold';
    font-size: 25px;
}

.menu__for-business{
    display: block;
    font-family: 'proxima_nova_blblack';
    text-align: center;
    font-size: 30px;

    padding-top: 7vh;
    padding-bottom: 4vh;
}

.menu__btn{
    position: relative;
    overflow: hidden;
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    background-color: white;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'letosans_boldbold';
    color: black;
    font-size: 22px;

    padding-top: 24px;
    padding-bottom: 24px;

    
}
.btn_bottom{
    position: absolute;
    background-color: #e8e8e8;
    left: -10px;
    right: -10px;
    height: 10px;
    bottom: 0;
}

a.menu__btn:hover{
    color: black;
}

.menu__btn:active{
    background-color: #3d477d;
    color: white;

    -webkit-box-shadow: 0px 5px 6px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 6px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 6px -3px rgba(0,0,0,0.75);
}

.menu__btn:active .btn_bottom{
    background-color: #2b3360;
}

.menu__search{
    margin-top: 10vh;
    font-family: 'proxima_nova_blblack';
    text-align: center;
    font-size: 28px;

    margin-top: 7vh;
    margin-bottom: 4vh;
}

.menu__search > span{
    vertical-align: middle;
}

.search__field{
    margin-top: 5vh;
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

    background-color: inherit;
    height: 3vh;

    border: 6px solid white;
    padding: 11px;

    font-family: 'pt_sansbold_italic';
    font-size: 24px;
    color: white;
}
.search__field::-webkit-input-placeholder {color: white;}
.search__field::-moz-placeholder          {color: white;}/* Firefox 19+ */
.search__field:-moz-placeholder           {color: white;}/* Firefox 18- */
.search__field:-ms-input-placeholder      {color: white;}

.search__custom{
    display: block;
    text-align: center;
    font-family: 'proxima_nova_rgbold';
    font-size: 24px;

    color: white;

    margin-top: 4vh;
    margin-bottom: 4vh;

    text-decoration: underline;
}


h1{
    display: block;
    margin-top: 8vh;
    margin-bottom: 11vh;

    text-shadow: -3px 4px 2px rgba(150, 150, 150, 0.5);
    font-size: 50px;
    font-family: 'letosans_boldbold';
}

.categories__category{
    display: block;
    position: relative;
    margin-top: 1vh;
    //margin-bottom: 1vh;
    line-height: 11vh;

    background-color: #444e7c;
    background-color: rgba(68, 78, 124, 0.85);

    font-family: 'proxima_nova_thextrabold';
    font-size: 28px;
    text-align: left;
}

.categories__category .title br{
    display: none;
}

.dropdown{
    position: relative;
    //top: 11vh;
    //left: 0;
    //right: 0;
    z-index: 3;

    margin-top: 21px;

    background-color: white;
    color: black;

    font-family: 'proxima_nova_thextrabold';
    font-size: 50px;
    font-size: 24px;
    line-height: 34px;

    text-align: center;
    //width: 306px;

}

.dropdown__close{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -3;
}

.dropdown__hover-zone{
    position: absolute;
    top: -120%;
    bottom: 0;
    left: -10%;
    right: -10%;
    z-index: -2;
}

category-and-dropdown-container{
    position: relative;
}

.dropdown__left-aligment{
    display: inline-block;
    text-align: left;
}

.dropdown__string{
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.dropdown__string a{
    text-decoration: none;
    color: black
}

.dropdown__string .dropdown__title:hover{
    color: #4e5583;
    text-decoration: underline;
}

.dropdown__string:hover .icon-arrow-left{
  background-image: url(../../www/img/spritesheet.png);
  background-position: -147px -297px;
  width: 20px;
  height: 34px;
}

.dropdown__icon{
    display: inline-block;
}

.dropdown__title{
    margin-left: 19px;
}

.dropdown__icon, .dropdown__title{
    vertical-align: middle;
}



.dropdown__icon-corner{
    position: absolute;
    display: none;
    //bottom: -35px;
    left: 40%;
    margin:0;
    //margin-left: -32px;
    z-index: 4;
}

.categories__category > span{
    vertical-align: middle;
}


.clearfix{
    overflow: auto;
    zoom: 1;
}

.news-and-promo{
    background-color: #444e7c;
    background-color: rgba(68, 78, 124, 0.85);
    
    font-family: 'proxima_nova_ltsemibold';
    font-size: 20px;

    text-align: left;
    padding-left: 2vw;

    margin-top: 1vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.news__header, .promo__header{
    height: 110px;
    line-height: 110px;
    text-align: left;
}

.promo__header{
    margin-top: 4vh;
}

.news__header > span, .promo__header > span{
    vertical-align: middle;
}

.news__title, .promo_title{
    margin-top: 3vh;   
}

.news-and-promo h2{
    display: inline-block;
    font-family: 'letosans_boldbold';
    font-size: 46px;
    margin-left: 2vw;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;

    
}

nav li{
    font-family: 'proxima_nova_blblack';
    font-size: 36px;
    text-shadow: -3px 4px 2px rgba(150, 150, 150, 0.2);
}

nav ul{
    list-style-type: none;
    padding-right: 3vw;
    padding-left: 3vw;
}

nav li{
    display: inline-block;
    margin-left: 1vw;
    margin-right: 1vw;
}

nav .active{
    border-bottom: 2px solid white;
}

.hidden{
    display: none;
}

@media screen and (max-width:520px){
    .categories__category{
        text-align: center;
    }

    .categories__category .title{
        display: block;
    }

    h1{
        font-size: 36px;
    }

    .left-menu__menu{
        width: 98%;
    }

    .menu__btn {
        font-size: 18px;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .menu__for-business{
        padding-top: 3vh;
        padding-bottom: 2vh;
    }
    
    .search__field{
        font-size: 14px;
    }

    .menu__search {
    font-family: proxima_nova_blblack;
    font-size: 28px;
    margin-top: 9vh;
    margin-bottom: 2vh;
    }
}

@media screen and (min-width:427px){
    .dropdown__icon-corner{
    left: 42%;
    }
}

@media screen and (min-width:768px){

    .category-and-dropdown-container{
        display: inline-block;
        position: relative;
        vertical-align: top;
    }
    .categories__category{
        display: inline-block;
        position: relative;
        line-height: initial;
        box-sizing: border-box;
        width: 211px;
        height: 211px;
        padding-top: 24px;
        padding-bottom: 24px;
        font-size: 24px;

        margin-left: 9px;
        margin-right: 9px;
    }

    .categories__category > .icon,
    .categories__category .title{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .categories__category .title{
        position: absolute;
        bottom: 24px;
        left: 0;
        right: 0;
        text-align: center;
    }

    .categories__category .title br{
    display: inline;
    }

    .dropdown{
        position: absolute;
        left: -3%;
        right: -3%;
        top: 100%;
        margin-top: 14px;
    }

    .dropdown__icon-corner{
    //position: absolute;
    display: none;
    bottom: -35px;
    left: 82px;
    margin:0;
    //margin-left: -32px;
    z-index: 4;
    }

    //.category-and-dropdown-container:hover .dropdown{
    //    display: block;
    //}


    .news-and-promo h2 {
    font-size: 28px;
    }

    .news,
    .promo{
        margin-bottom: 5vh;
        //text-align: center;
    }

    .news-and-promo{
        margin-top: 28px;
        padding-top: 36px;
    }

    .news__header,
    .promo__header{
        line-height: initial;
        height: auto;
    }

    .news__title,
    .promo_title{
        text-transform: uppercase;
    }

    #new_expand{
        display: none;
    }

    
}

@media screen and (min-width:940px){

    #social-icon-fixer{
        position: initial;
        height: auto;
        overflow: auto;
        zoom: 1;
    }

    #social-buttons{
        float: right;
    }

    .categories__breaker{
        display: inline-block;
    }

    .dropdown{
        margin-top: 13px;
    }

    .left-menu .icon-wrapper{
        display: none;
    }

    .left-menu__menu{
        display: block;
        position: fixed;
        top:0;
        padding: 0;
        width: 23%;
    }
    .left-menu{
        display: table-cell;
        width: 23%;
        //float: left;
    }

    .logo-and-name{
        padding-top: 41px;
    }

    .container{
        display: table-cell;
        //float: right;
    }
    body{
        display: table;
    }

    .menu__btn{
        font-size: 18px;
    }

    .news__header,
    .promo__header{
        margin-left: 3vw;
    }

    
}

@media screen and (min-width: 1018px){
    .news-and-promo__breaker{
        display: inline-block;
        width: 280px;
        margin-left: 2vw;
        text-align: left;
    }
}

@media screen and (min-width:1040px){

    
    
    .header__item,
    .header__glue {
        display: block;
        text-align: center;
    }

    .header__glue{
        position: relative;
        top: -35px;
        z-index: 1;
    }

    .header .telephone,
    .header .location{
        width: 29%;
        display: inline-block;
        text-align: center;
        vertical-align: middle
    }

  .header .cabinet,
  #social-buttons{
      float: right;
      width: 369px;
  }

  .cabinet .header__text{
        padding-right: 40px;
        padding-left: 24px;
    }

    #social-icon-fixer{
        overflow: auto;
        zoom: 1;
    }

    .icon-wrapper{
        width: auto;
    }

    h1{
        margin-top: 73px;
        margin-bottom: 85px;
    }

    nav{
        text-align: center;
    }
    nav ul{
        padding:0;
        display: inline-block;
    }
}


@media screen and (min-width:1040px) and (max-width:1200px){
    .header .telephone,
    .header .location{
        width: 26%;
    }

    .header__text{
        font-size: 18px;
    }
}

@media screen and (min-width:1200px){
    .cabinet .header__text{
        padding-right: 40px;
        padding-left: 24px;
    }

    .news,
     .promo{
        display: inline-block;
        vertical-align: top;
    }

    .promo__header{
        margin-top: 0;
    }
}

@media screen and (min-width:1400px){

    

    
}

@media screen and (min-width:1600px){

    .bg{
        display: none;
    }

    body{
        background-image: url(../img/bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }

    .header .telephone,
    .header .location{
        width: 34%;
    }

    .menu__btn{
        font-size: 22px;
    }

    .news-and-promo__breaker{
        display: inline-block;
        width: 348px;
        margin-left: 3vw;
    }
}

@media screen and (min-width:1680px){
}

